/* css重置 */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, blockquote, th, td, p { margin: 0; padding: 0 }
body { color: #5A5C5B; background: #fff; word-break: break-all; word-wrap: break-word; }
body, input, textarea { font-size: 12px; font-family: Microsoft YaHei,SimHei;}
input, button, select, textarea { outline: none;}
input{ vertical-align:middle; }
textarea { resize: none; }
li { list-style: none; }
img { border: none; }
table{ border-collapse:collapse; border-spacing:0; }
h1,h2,h3,h4,h5,h6{ font-size:12px; }
ul,ol,dl,dt,dd{ list-style-type:none; }
a { color: #444; text-decoration: none; outline: none; }
a:hover { color: #008842; }
i,s{ display:inline-block; vertical-align:middle;}
div:before{content:'';display: table;}
n:after{content:'';display: block;clear: both;}
div:after{content:'';display: block;clear: both;}
img,button{cursor: pointer;}